/* Variables */
:root {
  --player-height: 90px;
  --sidebar-width: 60px;
  --main-content-header-height: 100px;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: currentColor;
}

img {
  width: 100%;
}

ul {
  list-style: none;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

section {
  margin: 25px 0;
}

section h2 {
  margin-bottom: 20px;
}

/* # UTILS */

.debug,
.debug * {
  border: 2px dashed red;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.container {
  max-width: var(--containerW);
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  row-gap: 2rem;
  margin-left: -1rem;
  margin-right: -1rem;
}

[class*="col"] {
  padding-left: 1rem;
  padding-right: 1rem;
}

.col-1-2 {
  width: calc(100% / 2);
}

.col-1-3 {
  width: calc(100% / 3);
}

.col-1-4 {
  width: calc(100% / 4);
}

.col-1-5 {
  width: calc(100% / 5);
}

.col-1-6 {
  width: calc(100% / 6);
}

.btn {
  background-color: transparent;
  color: white;
  padding: 10px 50px;
  border: 1px solid white;
  border-radius: 20px;
}

#player .pointer-progress {
  border-radius: 50%;
  background-color: white;
  width: 20px;
  height: 20px;
  position: absolute;
  top: -8px;
  left: 25%;
  display: none;
}

/* Top content */

#top-content {
  height: calc(100vh - var(--player-height));
  background-color: #141922;
  display: flex;
}

/* Sidebar */

#sidebar {
  width: var(--sidebar-width);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: black;
}

#sidebar li:hover span {
  font-weight: bold;
  color: white;
}

#sidebar li:hover {
  border-left: 2px solid greenyellow;
}

/* SIDEBAR TOP */

#sidebar .logo-small {
  padding: 10px;
}

#sidebar .logo-big {
  display: none;
  padding: 10px;
}

#sidebar #sidebartop ul {
  margin: 0 auto;
  padding: 5px;
}

#sidebar #sidebartop ul li {
  padding: 5px 10px;
}

#sidebar .sidebar-details {
  display: none;
  color: #707070;
}

/* DISEBAR - PLAYLIST */

#sidebar-playlist {
  display: none;
  flex-grow: 1;
  color: #707070;
  overflow: auto;
}

#sidebar-playlist .header-playlist {
  padding: 0 10px;
}

#sidebar-playlist h2 {
  color: white;
}

#sidebar-playlist ul {
  overflow: auto;
}

#sidebar-playlist ul li {
  padding: 3px 10px;
}

#sidebar-playlist .fa-plus {
  background-color: #a3a3a3;
  padding: 10px;
  margin-right: 10px;
}

#sidebar-playlist .create-playlist {
  margin: 10px 0;
}

#sidebar-playlist .create-playlist:hover {
  color: white;
  font-weight: bold;
}

/* SIDEBAR USER SECTION */

#sidebar .download-app {
  font-size: 1.5rem;
  padding: 0 10px;
  text-align: center;
}

#sidebar .user-details {
  margin: 0 auto;
  padding: 10px;
}

#sidebar .user {
  border-radius: 50%;
  background-color: #808080;
  margin: 10px auto;
  padding: 5px;
  display: block;
}

#sidebar .sidebar-user-details {
  display: none;
  color: #707070;
}

/* PLAYER */

#player {
  height: var(--player-height);
  background-color: #282828;
  display: flex;
  justify-content: space-between;
  color: white;
  padding: 10px;
  gap: 20px;
  position: fixed;
  right: 0;
  left: 0;
}

/* DIVISIONE DEL PLAYER IN 3 SPAZI UGUALI */

#player #song-info,
#player #player-action,
#player #function {
  flex: 1 1 0;
}

/* PLAYER SONG-INFO */

#player #song-info {
  display: none;
  padding: 15px 0;
  gap: 20px;
}

#player #song-info img {
  height: 100%;
  display: none;
}

#player #song-info .like {
  margin: auto 0;
}

#player #song-info span {
  display: block;
}

#player #song-info .song-details {
  font-size: 0.7rem;
}

/* PLAYER ACTION */

#player #player-action {
  display: flex;
  flex-direction: column;
}

#player #player-action .action {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#player #player-action .fa-circle-play {
  font-size: 2rem;
}

#player #player-action .progress {
  text-align: center;
  font-size: 10px;
  margin: auto 0;
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

#player #player-action .song-progress-bar {
  position: relative;
  flex-grow: 1;
  margin: auto 0;
}

#player #player-action .progress-bar {
  border: 2px solid #5a5a5a;
  width: 100%;
  display: block;
}
#player #player-action .progress-bar-on {
  position: absolute;
  top: 0;
  left: 0;
  border: 2px solid white;
  width: 30%;
}
#player #player-action .song-progress-bar:hover .progress-bar-on {
  border-color: #adff2e;
}

#player #player-action .song-progress-bar:hover .pointer-progress {
  display: block;
}

/* PLAYER FUNCTION */

#player #function {
  margin: auto 0;
  font-size: 10px;
  display: none;
  flex-direction: column;
  justify-content: flex-end;
}

#player #function i {
  padding: 5px;
}

#player #function .volume-progress-bar {
  width: 30%;
  margin: auto 0;
  position: relative;
}

#player #function .volume-bar {
  border: 2px solid #5a5a5a;
  width: 100%;
  display: none;
}

#player #function .volume-on {
  position: absolute;
  top: 0;
  left: 0;
  border: 2px solid white;
  width: 30%;
  display: none;
}

#player #function .volume-progress-bar:hover .volume-on {
  border-color: #adff2e;
}

#player #function .volume-progress-bar:hover .pointer-progress {
  display: block;
}

/* MAIN CONTENT */

#main-content {
  width: calc(100% - var(--sidebar-width));
}

#main-content #main-content-header {
  height: var(--main-content-header-height);
}

#main-content #main-content-main {
  height: calc(
    100vh - var(--main-content-header-height) - var(--player-height)
  );
}

/* HEADER MAIN CONTENT */

#main-content {
  height: calc(100vh - var(--player-height));
  color: white;
  overflow: auto;
}

#main-content #main-content-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 10px;
}

#main-content #main-content-header button:hover {
  transform: scale(1.07);
}

#main-content #main-content-main ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  row-gap: 5px;
  padding: 10px 0;
}

#main-content #main-content-main ul li {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.7rem;
  color: #7c7e84;
  padding: 5px;
}

/* MAIN CONTENT MAIN */

#main-content #main-content-main ul li:hover {
  color: white;
  font-weight: bold;
}

#main-content #main-content-main ul li:hover ::after {
  content: "";
  display: block;
  border: 1px solid #adff2e;
  width: 50%;
  margin: 0 auto;
}

#main-content .container .col {
  width: 100%;
}

/* MAIN CONTENTE - CARD ALBUM */

#main-content-main .card-album {
  text-align: center;
}
#main-content-main .card-album .card-media {
  position: relative;
}
#main-content .card-album i {
  display: none;
}

#main-content .card-album:hover i {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  font-size: 2rem;
  padding: auto 0;
}

/* MAIN CONTENT FAMUS ARTIST */

#main-content #famus-artist .card-album .card-media img {
  border-radius: 50%;
}

#main-content #famus-artist h2,
#main-content #create-for-user h2 {
  margin-bottom: 5px;
}

#main-content p {
  margin-bottom: 20px;
  font-size: 0.7rem;
  color: #77797f;
}

/* MEDIA QUERY */

/* DA 340PX  IN SU*/
@media screen and (min-width: 340px) {
  #player #song-info {
    display: flex;
  }

  #player #function {
    display: flex;
  }
}

/* DA 440PX IN SU*/
@media screen and (min-width: 440px) {
  #main-content #main-content-header {
    justify-content: flex-end;
  }
  #main-content #main-content-main ul {
    flex-direction: row;
    justify-content: center;
  }

  #main-content #main-content-main ul li {
    width: calc(100% / 4);
  }

  #main-content .container .col {
    width: calc(100% / 2);
  }

  #player #song-info img {
    display: block;
  }

  #player #function {
    flex-direction: row;
  }

  #player #function .volume-bar {
    display: block;
    width: 100%;
  }
  #player #function .volume-on {
    display: block;
  }
}

/* DA 576PX IN SU*/
@media screen and (min-width: 576px) {
  :root {
    --sidebar-width: 200px;
  }

  #sidebartop ul li,
  #sidebar-bottom ul li {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 5px 0;
  }

  #sidebar .sidebar-details {
    display: inline;
  }
  #sidebar .logo-small {
    display: none;
  }

  #sidebar .logo-big {
    display: block;
    width: 70%;
  }

  #sidebar #sidebartop ul {
    margin: 20px 0;
  }

  #sidebar #sidebar-playlist {
    display: flex;
    flex-direction: column;
  }

  #sidebar .user-details {
    border-top: 1px solid #555555;
  }

  #sidebar .user {
    margin: 0;
    width: 2rem;
  }

  #sidebar img {
    width: 10%;
  }

  #sidebar-bottom .download-app {
    font-size: 0.8rem;
    padding: 20px 10px;
  }
}

/*DA 768PX IN SU*/
@media screen and (min-width: 768px) {
  #main-content #main-content-main ul li {
    width: calc(100% / 5);
  }
  #main-content .container .col {
    width: calc(100% / 4);
  }
  #player #song-info .like span {
    display: inline;
    padding: 5px;
  }

  #player #function {
    font-size: 16px;
  }
}

/* DA 992PX IN SU */
@media screen and (min-width: 992px) {
  #main-content #main-content-main ul li {
    width: calc(100% / 8);
  }
  #main-content .container .col {
    width: calc(100% / 6);
  }
  #player #song-info {
    justify-content: flex-start;
  }
  #player #function {
    text-align: right;
  }
}
