/* Variables */
:root {
  --player-height: 90px;
  --sidebar-width: 60px;
  --main-content-header-height: 100px;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: currentColor;
}

img {
  width: 100%;
}

ul {
  list-style: none;
}

/* ul li {
  display: inline-block;
} */

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

/* # UTILS */

.debug,
.debug * {
  border: 2px dashed red;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.container {
  max-width: var(--containerW);
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  row-gap: 2rem;

  margin-left: -1rem;
  margin-right: -1rem;
}

[class*="col"] {
  padding-left: 1rem;
  padding-right: 1rem;
}

.col-1-2 {
  width: calc(100% / 2);
}

.col-1-3 {
  width: calc(100% / 3);
}

.col-1-4 {
  width: calc(100% / 4);
}

.col-1-5 {
  width: calc(100% / 5);
}

.col-1-6 {
  width: calc(100% / 6);
}

.btn {
  background-color: #0161fe;
  color: white;
  padding: 5px 10px;
  border: 1px solid transparent;
}

/* Top content */

#top-content {
  height: calc(100vh - var(--player-height));
  background-color: #141922;
  display: flex;
}

/* Sidebar */

#sidebar {
  width: var(--sidebar-width);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: black;
  padding: 10px;
}

#sidebar .logo-big {
  display: none;
}

#sidebar #sidebartop .sidebar-nav {
  width: 70%;
  margin: 0 auto;
  margin-top: 10px;
}

#sidebar .sidebar-nav-details {
  display: none;
}

#sidebar-playlist {
  display: none;
}

#sidebar .download-app {
  text-align: center;
  font-size: 1.5rem;
}

#sidebar .user {
  border-radius: 50%;
  background-color: #808080;
  width: 70%;
  margin: 10px auto;
  padding: 10px;
}

#sidebar .user img {
  display: block;
  margin: 0 auto;
}

#main-content {
  width: calc(100% - var(--sidebar-width));
}

#main-content #main-content-header {
  height: var(--main-content-header-height);
}

#main-content #main-content-main {
  height: calc(
    100vh - var(--main-content-header-height) - var(--player-height)
  );
}

/* player */

#player {
  height: var(--player-height);
  background-color: #282828;
}

@media screen and (min-width: 576px) {
  :root {
    --sidebar-width: 300px;
  }

  #sidebar {
    padding: 20px;
  }

  #sidebartop ul li {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  #sidebar .sidebar-nav-details {
    display: inline;
    flex-grow: 1;
  }
  #sidebar .logo-small {
    display: none;
  }

  #sidebar .logo-big {
    display: block;
    width: 70%;
  }

  #sidebar #sidebartop .sidebar-nav {
    width: 10%;
    margin: 10px 0;
  }
}
